.collection-thumb {
    width: 300px;
    transition: 300ms;
}

.collection-thumb:hover {
    opacity: 0.8;
}

.category-name {
    font-weight: 800;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.carousel-item {
    padding-right: 2%;
    position: relative;
}

.hover-info {
    color: black;
    background: white;
    border-radius: 5px;
    z-index: 1;
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 90%;
    width: 100%;
}

.hover-info-title {
    font-weight: 500;
}

.hover-pos-3, .hover-pos-2 {
    left: -100%;
}