#home-header {
    width: 100vw;
    background: black;
    line-height: 80px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 11pt;
}

#header-logo {
    max-height: 50px;
    vertical-align: middle;
    margin-left: 1%;
}

.nav-link {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 3%;
}

.user-link {
    font-weight: 200;
    float: right;
    margin-right: 3%;
}