#home-header {
    width: 100vw;
    background: black;
    line-height: 100px;
}

a {
    color: white;
    text-decoration: none;
}

#header-logo {
    max-height: 42px;
}

.nav-link {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 1%;
}

.user-link {
    font-weight: lighter;
    float: right;
    margin-right: 1%;
}