<div id="salespitch-display-lt" *ngIf="selectedDisplay == 'left';">
    <div class="salespitch-display-content-container">
        <p class="intro-text">Enjoy continuous access to Criterion’s streaming library of more than 1,000 important classic and contemporary films, plus a constantly refreshed selection of Hollywood, international, art-house, and independent films from major studios and dozens of independent distributors. Go deep with the Criterion Collection’s archive of special features for context that no other service can match.</p>
        <button id="start-trial">SIGN UP</button>
      </div>
</div>
<div id="salespitch-display-md" *ngIf="selectedDisplay == 'middle';">
    <div class="salespitch-display-content-container">
        <p class="intro-text">The Criterion Channel is more than just the movies. It's spotlighted series on directors, stars, genres, and themes. It’s our 15-minute-a-month film school, Observations on Film Art, or the Tuesday Short + Feature and the Friday double bill. It’s letting guest curators like Barry Jenkins, Guillermo del Toro, or Mira Nair take you on an adventure in moviegoing—or setting out on one of your own!</p>
        <button id="start-trial">SIGN UP</button>
      </div>
</div>
<div id="salespitch-display-rt" *ngIf="selectedDisplay == 'right';">
    <div class="salespitch-display-content-container">
        <h1 class="intro-header">A Movie Lover’s Dream</h1>
        <p class="intro-text">Classics and discoveries from around the world, thematically programmed with special features, on a streaming service brought to you by the Criterion Collection</p>
        <button id="start-trial">SIGN UP</button>
        <p id="trial-text">14 day free trial</p>
      </div>
</div>