<div id="salespitch-display-lt" [class]="leftOptionClass">
    <div class="salespitch-display-content-container" id="left">
        <p class="intro-text">Enjoy continuous access to Criterion’s streaming library of more than 1,000 important classic and contemporary films, plus a constantly refreshed selection of Hollywood, international, art-house, and independent films from major studios and dozens of independent distributors. Go deep with the Criterion Collection’s archive of special features for context that no other service can match.</p>
        <button id="start-trial">SIGN UP</button>
      </div>
</div>
<div id="salespitch-display-md" [class]="middleOptionClass">
    <div class="salespitch-display-content-container" id="middle">
        <p class="intro-text">The Criterion Channel is more than just the movies. It's spotlighted series on directors, stars, genres, and themes. It’s our 15-minute-a-month film school, Observations on Film Art, or the Tuesday Short + Feature and the Friday double bill. It’s letting guest curators like Barry Jenkins, Guillermo del Toro, or Mira Nair take you on an adventure in moviegoing—or setting out on one of your own!</p>
        <button id="start-trial">SIGN UP</button>
      </div>
</div>
<div id="salespitch-display-rt" [class]="rightOptionClass">
    <div class="salespitch-display-content-container" id="right">
        <div id="devices-img"></div>
        <div>
          <p class="intro-text">The Criterion Channel is available in the U.S. and Canada for $10.99 a month or $99.99 a year after a 14-day free trial. Watch now on desktop and mobile web browsers or through apps for Apple TV, Amazon Fire, Roku, iOS, and Android devices.</p>
          <button id="start-trial">SIGN UP</button>
        </div>
      </div>
</div>